{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="page-header">
        <h2>New Notice</h2>
    </div>
       {{ form_start(form, {'attr': {'role': 'form'} }) }}
       <div class="form-group">
           {{ form_label(form.title) }}
           {{ form_widget(form.title, {'attr': {'class': 'form-control', 
               'placeholder': 'Notice Title'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.text) }}
            {{ form_widget(form.text, {'attr': {'class': 'form-control', 
               'placeholder': 'Notice Text'} }) }}
       </div>
       <p>
           {{ form_widget(form.save, {'label': 'Save notice', 
                'attr': {'class': 'btn btn-success', 
               'placeholder': 'Notice Text'} }) }}
       </p>
       
       {{ form_end(form) }}
      
     
</div>
{% endblock %}